body {background-color: rgb(148, 108, 185);}

h1 {color: black;
text-align: center;}

h3 {color: black;
text-align: center;}

h2 {color: gold;
text-align: center;}

#ima1 {width: 25%;
margin-left: 38%;}